html,body{
	margin: 0;
	padding: 0;
	overflow: auto;
    background-color: turquoise;
}
.jumbotron-header{
	background: url(slike/kontakt.jpg) center fixed;
	background-size: cover;
	height: calc(100vh);
	border-radius: 0;
	border-style: outset;
	border-color: black;
}
.navFix {
	position:fixed;
	background:transparent;
	width:100%;
	height: 50px;
    background-color: black !important;
}
.navbar-hamburger {
	font-size:25px;
	font-weight:600;
	color:white;
	text-transform:uppercase;
	padding-left:10px;

}
.navbar-hamburger:hover{
	text-decoration:none;
	color:white;
}
.nav-link:hover {
	color:white;
}
.usluge {
    font-family: serif;
    font-size: 70px;
    color: white;
    font-weight: bold;
    margin-top: 280px;
    text-align: center;
}
.h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 130px;
    font-family: serif;
}
.uvod {
	font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 45px;
    text-align: center;
    margin-left: 100px;
}
.kraj{
	background: black;
    height: 80px;
}
.text{
	font-weight: bold;
    color:#663300;
    margin-top: 50px;
	text-align: center;
    font-size: 25px;
}
.fb-like{
    margin-left: 600px;
}
.fb-share-button{
    margin-left: 600px;
}
